In [ ]:
my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York'}

my_dict['profession'] = 'Doctor'
my_dict['age'] = 40
print(my_dict['city'])

print(my_dict)

In [ ]:
my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York', 'profession': 'Doctor'}

del my_dict['profession']
print(list(my_dict.items()))
print('age' in my_dict)

In [ ]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

newDict = dict(zip(keys, values))
print(newDict)

In [ ]:
my_dict = {'name': 'Alice', 'age': 35, 'city': 'New York'}

my_dict.clear()

print(my_dict)

In [ ]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

newDict = dict1 | dict2
print(newDict)

In [ ]:
string1 = 'Jessa'
newDict = {}

for letter in string1:
    newDict[letter] = string1.count(letter)

print(newDict)

In [ ]:
data = {'person': {'name': 'Alice', 'age': 30}}

print(f'{data["person"]["name"]}\'s age is {data["person"]["age"]}')

In [ ]:
sampleDict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

print(sampleDict["class"]["student"]["marks"]["history"])

In [ ]:
nested_student_dict = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": 70,
                "history": 80
            }
        }
    }
}

nested_student_dict["class"]["student"]["name"] = 'Jessa'
print(nested_student_dict)

In [ ]:
employees = ['Kelly', 'Emma']
defaults = {"designation": 'Developer', "salary": 8000}

newDict = dict.fromkeys(employees, defaults)

print(newDict)

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"}
keys = ["name", "salary"]

newDict = {}
# newDict = {k: sample_dict[k] for k in keys}

for key in keys:
    if key in sample_dict.keys():
        newDict[key] = sample_dict[key]

print(newDict)

In [ ]:
sample_dict = {
    "name": "Kelly",
    "age": 25,
    "salary": 8000,
    "city": "New york"
}
keys = ["name", "salary"]

for key in keys:
    del sample_dict[key]

print(sample_dict)

In [ ]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}

print(300 in sample_dict.values())

In [ ]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}

sample_dict["location"] = sample_dict.pop("city") 

print(sample_dict)

In [ ]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

for k, v in sample_dict.items():
    if v == min(sample_dict.values()):
        print(k)

In [ ]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}

sample_dict["emp3"]["salary"] = 8500
print(sample_dict)

In [ ]:
original_dict1 = {'a': 1, 'b': 2, 'c': 3}
inverted_dict = {}

for k, v in original_dict1.items():
    inverted_dict[v] = k

print(inverted_dict)

In [ ]:
my_dict = {'apple': 3, 'zebra': 1, 'banana': 2, 'cat': 4}

sortedKeys = sorted(my_dict.keys())

sortedDict = {k: my_dict[k] for k in sortedKeys}
print(sortedDict)

In [ ]:
my_dict = {'Jessa': 3, 'Kelly': 1, 'Jon': 2, 'Kerry': 4, 'Joy': 1}

sortedByValues = sorted(my_dict, key=lambda k: (my_dict[k], k))
print(sortedByValues)

sortedDict = {k: my_dict[k] for k in sortedByValues}
print(sortedDict)

In [ ]:
dict1 = {'a': 1, 'b': 2, 'c': 3}
dict2 = {'x': 10, 'y': 20, 'z': 10}

def isUnique(dictionnary):

    nbDictValues = len(dictionnary.values())
    nbSetValues = len(set(dictionnary.values()))

    if nbDictValues == nbSetValues:
        return True
    else:
        return False

print(isUnique(dict1))