In [ ]:
str1 = "James"

newStr = str1[0] + str1[int(len(str1) / 2)] + str1[-1]
print(newStr)

In [ ]:
str1 = "JhonDipPeta"
str2 = "JaSonAy"

def inTheMiddle(string):
    mid = int(len(string) / 2)

    midLetters = string[mid - 1 : mid + 2]

    return midLetters

inTheMiddle(str1)

In [ ]:
s1 = "Ault"
s2 = "Kelly"

mid = int(len(s1) / 2)
sNew = s1[:mid:] + s2 + s1[mid::]

print(sNew)

In [ ]:
s1 = "America"
s2 = "Japan"

sNew = s1[0] + s2[0] + s1[int(len(s1) / 2)] + s2[int(len(s2) / 2)] + s1[-1] + s2[-1]

print(sNew)

In [ ]:
str1 = 'PyNaTive'
sLower = ''
sUpper = ''

for letter in str1:
    if letter.islower():
        sLower += letter
    else:
        sUpper += letter

sNew = sLower + sUpper

print(sNew)

In [ ]:
import re

str1 = "P@#yn26at^&i5ve"
alphas = 0
numbers = 0
specs = 0

for char in str1:

    if char.isdigit():
        numbers += 1
    elif char.isalpha():
        alphas += 1
    elif re.search(r'[^a-zA-Z0-9]', char):
    # elif re.search(r'\W', char):
        specs += 1


print(f'Alphas : {alphas} \nNumbers : {numbers} \nSpecs : {specs}')

In [ ]:
s1 = "Abc"
s2 = "Xyz"

length = len(s1) if len(s1) > len(s2) else len(s2)

s2 = s2[::-1]

def mixedStr(str1, str2):
    s3 = ''

    for x in range(length):
        if x < len(str1):
            s3 += str1[x]

        if x < len(str2):
            s3 += str2[x]
    
    return s3

mixedStr(s1, s2)

In [ ]:
s1 = "Yn"
s2 = "PYnative"

def strBalance(str1, str2):
    check = True

    if str1 not in str2:
        check = False

    return check

strBalance(s1, s2)

In [ ]:
str1 = "Welcome to USA. usa awesome, isn't it?"
strCheck = 'USA'

toLower = str1.lower()

toLower.count(strCheck.lower())

In [ ]:
str1 = "PYnative29@#8496"
count = 0
sum = 0

for char in str1:

    if char.isdigit():
        count += 1
        sum += int(char)

print(sum)
print(sum / count)

In [ ]:
str1 = "Apple"
strObj = {}

for letter in str1:
    strObj[letter] = str1.count(letter)

print(strObj)

In [ ]:
str1 = "PYnative"
strRev1 = str1[::-1]

print(strRev1)

In [ ]:
str1 = "Emma is a data scientist who knows Python. Emma works at google."

str1.rindex('Emma')

In [ ]:
str1 = 'Emma-is-a-data-scientist'

splitOnHyph = str1.split('-')

for el in splitOnHyph:
    print(el)

In [ ]:
str_list = ["Emma", "Jon", "", "Kelly", None, "Eric", ""]
# res_list = []

# for el in str_list:
#     if not el:
#         str_list.remove(el)

# for el in str_list:
#     if el:
#         res_list.append(el)

res_list = list(filter(lambda el: el, str_list))

print(str_list)
print(res_list)

In [ ]:
import string
import re

str1 = "/*Jon is @developer & musician"

myTable = str.maketrans('', '', string.punctuation)
print(str1.translate(myTable))

print(re.sub(r'[^\w\s]', '', str1))

In [ ]:
str1 = 'I am 25 years and 10 months old'

# newStr = ''.join(list(filter(lambda el: el.isdigit(), str1)))
newStr = ''.join([item for item in str1 if item.isdigit()])

print(newStr)

In [ ]:
str1 = "Emma25 is Data scientist50 and AI Expert"
strRes = []

for el in str1.split():
    if any(l.isalpha() for l in el) and any(l.isdigit() for l in el):
        strRes.append(el)

for x in strRes:
    print(x)

In [ ]:
import string
import re

str1 = '/*Jon is @developer & musician!!'

# for char in string.punctuation:
#     str1 = str1.replace(char, '#')

str1 = (re.sub(r'[^\w\s]', '#', str1))

print(str1)