In [ ]:
my_tuple = (1, 2, 3, 4, 5)

print(my_tuple[2])
print(len(my_tuple))

In [ ]:
my_tuple = ('a', 'b')
tripleTuple = my_tuple * 3

print(tripleTuple)

In [ ]:
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

print(numbers[3:7])

In [ ]:
tuple1 = (10, 20, 30, 40, 50)

print(tuple1[::-1])

In [ ]:
tuple1 = ("Orange", [10, 20, 30], (5, 15, 25))

print(tuple1[1][1])

In [ ]:
singleTuple = (50)

print(singleTuple)

In [ ]:
tuple1 = (10, 20, 30, 40)

a, b, c, d = tuple1

print(a, b, c, d)

In [ ]:
tuple1 = (11, 22)
tuple2 = (99, 88)

tuple1, tuple2 = tuple2, tuple1

print(tuple1, tuple2)

In [ ]:
tuple1 = (11, 22, 33, 44, 55, 66)

newTuple = (tuple1[tuple1.index(44)], tuple1[tuple1.index(55)])
print(newTuple)

In [ ]:
my_list = [10, 20, 30]

print(tuple(my_list))

In [ ]:
my_numbers = [10, 5, 20, 2, 15]

def get_min_max(numbers):
    return tuple([min(numbers), max(numbers)])

get_min_max(my_numbers)

In [ ]:
t1 = (1, 2, 3)
t2 = (1, 2, 4)

if t1 < t2:
    print('T2')
elif t1 > t2:
    print('T1')
else:
    print('Equal')

In [ ]:
my_tuple = (1, 2, 2, 3, 4, 4, 5)

print(tuple(set(my_tuple)))

In [ ]:
students = [('Alice', 85), ('Bob', 92), ('Charlie', 78)]

filtStud = list(filter(lambda el: el[1] > 80, students))
print(filtStud)

In [ ]:
t = (1, 2, 3, 4)

sqrt = tuple(map(lambda el: el**2, t))
print(sqrt)

In [ ]:
tuple1 = (11, [22, 33], 44, 55)

tuple1[1][0] = 222
print(tuple1)

In [ ]:
tuple1 = (('a', 23),('b', 37),('c', 11), ('d',29))

print(tuple(sorted(tuple1, key=lambda el: el[1])))

In [ ]:
tuple1 = (50, 10, 60, 70, 50)

print(tuple1.count(50))

In [ ]:
tuple1 = (45, 45, 45, 45)

print(all(nb == tuple1[0] for nb in tuple1))